{% extends 'base.html.twig' %}

{% block title %}Symfony <\3 React{% endblock %}

{% block body %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a href="#" class="navbar-brand">Starter React</a></nav>
        <div id="root"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}
