{% extends 'base.html.twig' %}

{% block title %}Edit DesignCategory{% endblock %}

{% block body %}
    <h1>Edit DesignCategory</h1>

    {{ include('design_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('design_category_index') }}">back to list</a>

    {{ include('design_category/_delete_form.html.twig') }}
{% endblock %}
