{% extends 'base.html.twig' %}

{% block title %}New Design Category{% endblock %}

{% block body %}
    <h1 class="text-info mb-3">Create new Design Category</h1>

    {{ include('main/_form.html.twig') }}

{% endblock %}
