{% extends 'base.html.twig' %}

{% block title %}Edit CustomerOrder{% endblock %}

{% block body %}
    <h1>Edit CustomerOrder</h1>

    <p>This order is currently in <span class="badge badge-primary"><em>{{customer_order.currentState|keys|json_encode|replace({"\"":'',"[":'',"]":''})}}</em></span></p>
    <div class="row">
        <div class="col-12">
            {{ include('customer_order/_form.html.twig', {'button_label': 'update'}) }}
        </div>
    </div>
{% endblock %}
