#menu-nav {
    background: linear-gradient(90deg,skyblue,cadetblue);
}
.vich-image > a > img {
    width: 100% !important;
}
@media (min-width: 576px){
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}