#menu-nav {
    background: linear-gradient(90deg,skyblue,cadetblue);
}
.vich-image > a > img {
    width: 100% !important;
}
@media (min-width: 576px){
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 576px){
    .card-columns.card-designs-main {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}