{% extends 'base.html.twig' %}

{% block title %}New Appuser{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <h1>Create new Appuser</h1>
            {{ include('main/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
