<form method="post" action="{{ path('design_delete', {'id': design.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ design.id) }}">
    <button class="btn">Delete</button>
</form>
