{% extends 'base.html.twig' %}

{% block title %}Edit Design{% endblock %}

{% block body %}
    <h1 class="text-info mb-3 display-4">Edit Design</h1>
    {{ include('main/_form.html.twig', {'button_label': 'Update'}) }}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('design_index') }}">back to list</a>
        {{ include('design/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
