{% extends 'base.html.twig' %}

{% block title %}New Design{% endblock %}

{% block body %}
    <h1>Create new Design</h1>

    {{ include('design/_form.html.twig') }}

    <a href="{{ path('design_index') }}">back to list</a>
{% endblock %}
