{% extends 'base.html.twig' %}

{% block title %}New Design{% endblock %}

{% block body %}
    <h1 class="text-info mb-3 display-4">Add new Design</h1>

    {{ include('main/_form.html.twig') }}

{% endblock %}
