<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Solwara Products & Accessories</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="container-fluid">
        {% include "main/menu.html.twig" %}
        <div class="container my-5 pt-5">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
